@media (max-width: 390px) {
/* 
    *{
        border: 1px solid black;
    } */
    .container, .container_fluid {
        width: 360px;
       
    }
    header {
        background: none;
        box-shadow: none;
    }
    .header_logo {
        flex-grow: 1;
    }
    .header_logo_text {
        display: none;
    }

    .header_logo_img {
        margin-left: 0;
        margin-top: 19px;
        
    }

    .header_menu_list {
        flex-direction: column;
        position: absolute;
        background-color: #F2785C;
        padding: 44px 15px 20px 44px;
        top: -600px;
        right: 0;
        margin-right: 0;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        transition: 0.5s ease;
        z-index: 999;
    }

    .header_menu_list.show {
        top: 0;
    }

    .header_menu_list-item {
        margin-bottom: 10px;
    }

    .header_menu_list-item.burger {
        display: block;
    }

    .header_menu_list-item {
        margin-right: 0;
    }

    .burger_icon {
        display: block;
        margin-right: 5px;
        margin-top: 17px;
    }

    .burger_close_icon {
        display: block;
        position: absolute;
        z-index: 1;
        left: 8px;
        top: 8px;
    }

    .header_login_btn {
        display: none;
    }

    .preview {
        padding-top: 182px; 
        padding-bottom: 60px;
        background-image: url('img/preview_bg_mini.jpg');
    }

    .preview_wrapper {
        width: auto;
    }

    .preview_title {
        display: none;
    } 

    .preview_subtitle {
        display: none;
    }

    .preview_search_block {
        max-width: 360px;
        padding: 11px 9px 7px 16px;
        margin-top: -42px;
    }

    .preview_search_input {
        width: auto;
        padding-left: 0;
    }

    .preview_search_input, .preview_search_input::placeholder {
        font-size: 14px;
    }

    .preview_search_btn {
        padding: 8px 9px;
        font-size: 11px;
        line-height: 14px;
        margin-top: -3px;
    }

    .steps {
        padding-top: 20px;
    }

    .main_title{
        font-size: 14px;
        line-height: 18px;
        margin: 0;
    }

    .steps_cards {
        margin-top: 22px;
        align-items: flex-start
        
    }

    .steps_card {
        flex: 1;
        
    }

    .steps_card:nth-child(2) {
        flex-grow: 2;
        margin-left: 0;
    }

    .steps_card:last-child p{
        text-align: right;
    }

    .steps_card-square {
        width: 70px;
        height: 70px;
    }

    .steps_card:nth-child(1) .steps_card-square {
        background-size: 35px 32px ;
        margin-right: 20px;
    }
    
    .steps_card:nth-child(2) .steps_card-square {
        background-size: 35px 35px;
       
    }
    .steps_card:nth-child(3) .steps_card-square {
        background-size: 40px 30px;
        margin-left: 20px;
    }

    .steps_card-descr {
        font-size: 10px;
        line-height: 12px;
        margin-top: 19px;
    }

    .destination {
        padding-top: 11px;
    }

    .destination_slider {
        margin-top: 20px;
    }

    .destination_images {
        position: relative;
    }

    .destination_single_image {
        width: 360px;
        margin: auto;
        
    }
    .destination_single_image:first-child {
        margin-left: auto;
    }
    .destination_single_image:nth-child(2), .destination_single_image:nth-child(3) {
        display: none;
    }

    .destination_single_image img {
        margin-right: 0;
        border-radius: 16px;
        width: 100%;
    }

    .destination_single_image span {
        top: 8px;
        left: 16px;
        font-size: 20px;
        line-height: 26px;
    }

    .destination_dots {
        margin-top: -23px;
        z-index: 99;
        position: relative;
    }

    .dot {
        width: 8px;
        height: 8px;
        margin-right: 6px;
    }

    .dot:last-child {
        margin-right: 0;
    }

    .arrow_left, .arrow_right {
        display: block;
        position: absolute;
    }

    .arrow_left {
        top: 50%;
        transform: translateY(-50%);
        left: 26px;
    }

    .arrow_right {
        top: 50%;
        transform: translateY(-50%);
        right: 26px;
    }

    .destination_btn {
        padding: 7.5px 12px;
        font-size: 11px;
        line-height: 14px;
        margin-top: 22px;
    }

    .destination_btn img {
        width: 10px;
        height: 10px;
        margin-right: 6px;
    }

    .stories {
        margin-top: 21px;
    }

    .stories_wrapper {
        background-image: url('img/stories_bg_mini.jpg');
        padding-bottom: 64px;
    }

    .stories_title {
        margin-bottom: 10px;
    }

    .stories_blog_links {
        padding-top: 11px;
        padding-bottom: 13px;
    }

    .stories_blog_link {
        margin-bottom: 10px;
    }

    .stories_blog_link-img {
        width: auto;
        height: auto;
        margin-right: 10px;
    }

    .stories_blog_link-title {
        font-size: 11px;
        line-height: 13px;
        margin-top: 5px;
    }

    .stories_blog_link-text {
        font-size: 9px;
        line-height: 11px;
        margin-top: 10px;
        height: 86px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .stories_blog_links a {
        font-size: 9px;
        line-height: 1px;
        margin-top: 7px;
        display: block;
    }

    .stories_btn_block {
        margin-top: -2px;
    }

    .stories_btn {
        font-size: 11px;
        line-height: 14px;
        padding: 7.5px 10.5px;
    }

    .stories_btn img {
        width: 10px;
        height: 10px;
        margin-right: 6px;
    }

    footer {
        bottom: 30px;
    }

    .footer_all-right {
        display: none;
    }

    .footer_social {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        padding: 0;
    }

    .footer_social li {
        margin-right: -4px;
    }
}