*,*::after, *::before {
    box-sizing: border-box;
    /* border: 1px solid black */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Aleo';
    font-weight: 400;
    position: relative;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container_fluid {
    width: 1177px;
    margin: 0 auto;
}

.main_btn {
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Red Hat Text';
    transition: 0.5s ease;
}

.main_btn:hover {
    background-color: #074652;
}

.main_btn:active{
    transform: scale(0.9);
}

.main_title {
    color: #F2785C;
    font-size: 40px;
    line-height: 53px;
    font-family: 'Red Hat Text';
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* HEADER */

header {
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 0;
}

.header_wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    margin-right: 160px;
}

.header_logo_img {
    width: 30px;
    height: 30px;
}

.burger_icon {
    display: none;
}

.header_logo_text {
    font-family: 'Magra';
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    margin-left: 6px;
    color: #fff;
}

.header_menu_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 149px;
}

.header_menu_list-item {
    margin-right: 42px;
}

.header_menu_list-item.burger {
    display: none;
    
}

.burger_icon, .burger_close_icon {
    display: none;  
}

.header_menu_list-item:last-child {
    margin-right: 0;
}

.header_menu_list-item a {
    color: #fff;
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-size: 16px;
    line-height: 21px;
    position: relative;
    padding-bottom: 5px;
}

.header_menu_list-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0px;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;
}

.header_menu_list-item a:hover::after {
   opacity: 1;
}

.header_login_btn {
    font-size: 16px;
    line-height: 23px;
    padding: 10px 30px;
}

/* PREVIEW SECTION */

.preview {
    background-image: url('img/preview_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    padding-top: 122px;
    padding-bottom: 254px;
}

.preview_wrapper {
    width: 889px;
}

.preview_title {
    margin: 0;
    font-size: 80px;
    line-height: 96px;
    color: #fff;
    font-weight: 700;
}

.preview_subtitle {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
}

.preview_search_block {
    margin-top: 46px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
}

.preview_search_input {
    background: none;
    border: none;
    color: #F2785C;
    width: 70%;
    font-size: 24px;
    line-height: 29px;
    font-style: italic;
    outline: none;
    padding-left: 23px;
}

.preview_search_input::placeholder{
    color: #F2785C;
    font-family: 'Aleo';
    font-size: 24px;
    line-height: 29px;
    font-style: italic;
}

.preview_search_btn {
    padding: 13.5px 32.5px;
    font-size: 24px;
    line-height: 32px;
}

/* STEPS SECTION */

.steps {
    padding-top: 48px;
}

.steps_cards {
    margin-top: 40px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.steps_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps_card:nth-child(2) {
    flex-grow: 2;
    margin-left: 70px;
}


.steps_card-square {
    background: #F2785C;
    border-radius: 16px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-repeat: no-repeat;
    background-position: center center;
}

.steps_card:nth-child(1) .steps_card-square {
    background-image: url('img/bicycle.svg');
}

.steps_card:nth-child(2) .steps_card-square {
    background-image: url('img/calendar.svg');
   
}
.steps_card:nth-child(3) .steps_card-square {
    background-image: url('img/plane.svg');
}

.steps_card-descr {
    color: #0D606F;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
}

/* DESTINATION SECTION */

.destination {
    padding-top: 44px;
    overflow-x: hidden;
}

.destination_slider{
    margin-top: 46px;
}

.destination_images {
    display: flex;
    justify-content: center;
}

.destination_single_image {
    position: relative;
    display: block;
    
}

.destination_single_image:first-child{
    margin-left: 59px;
}

.destination_single_image img {
    margin-right: 60px;
    border-radius: 16px;
    
}

.destination_single_image span {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 32px;
    line-height: 42px;
    font-family: 'Red Hat Text';
    text-transform: uppercase;
    bottom: 45px;
    left: 15px;
}

.destination_dots {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}

.dot {
    background: rgba(242, 120, 92, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.dot:last-child {
    margin-right: 0;
}

.dot.active {
    background: rgb(242, 120, 92);
}

.dot:hover {
    background: rgb(242, 120, 92);
}

.arrow_right, .arrow_left {
    display: none;
}

.destination_btn {
    display: flex;
    margin: auto;
    margin-top: 41px;
    padding: 13.5px 32px;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    line-height: 32px;
}

.destination_btn img {
    margin-right: 10px;
}

/* STORIES SECTION */

.stories {
    margin-top: 80px;
   
}

.stories_wrapper{
    background-image: url('img/stories_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}



.stories_blog_links {
    background-color: rgba(255,255,255,0.7);
    padding-top: 47px;
    padding-bottom: 43px;
}

.stories_blog_link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.stories_blog_links-descr {
    width: 760px;
    align-self: flex-start;
}

.stories_blog_link-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 18px;
    width: 400px;
    height: 250px;
}

.stories_blog_link-title {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories_blog_link-text {
    margin-top: 23px;
    margin-bottom: 0;
}

.stories_blog_link-text, .stories_blog_links-descr a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    transition: 0.5s ease;
}

.stories_blog_links-descr a {
   font-weight: 700;
}



.stories_blog_link-text, .stories_blog_link-text a:hover{
    color: #074652;
}

.stories_blog_link-text a {
    font-weight: 700;
}

.stories_btn_block {
    margin-top: 37px;
}

.stories_btn {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 7.5px 35px;
    font-size: 24px;
}

.stories_btn img {
    margin-right: 12px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
}

footer .container {
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}

.footer_all-right {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    font-family: 'Red Hat Text';
}

.footer_social {
    position: absolute;
    right: -14px;
}

.footer_social {
    display: flex;
    list-style-type: none;
}

.footer_social li {
    margin-right: 3px;
}


.footer_social li a:last-child {
    margin-right: 0;
}

.footer_social li a svg {
    width: 34px;
    height: 34px;
    fill: #fff;
    transition: 0.5s ease;
}

.footer_social li a svg:last-child {
    width: 52px;
    margin-left: 5px;
}

.footer_social li a svg:hover {
    fill: rgb(146, 146, 146);
}
